<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang=”es” xmlns:th="http://www.thymeleaf.org"/>
<head th:replace="template/main_template::general_head">
</head>
<body>

    <br>
    <div class="container" th:switch="${action}">
        <div th:case="ADD_CLIENT" class="container">
            <div th:replace="template/vendedor_forms_template::cliente_add"></div>
        </div>
        <div th:case="EDIT_CLIENT">
            <div th:replace="template/vendedor_forms_template::cliente_edit"></div>
        </div>
        <div th:case="DELETE_CLIENT">
            <div th:replace="template/vendedor_forms_template::cliente_delete"></div>
        </div>
        <div th:case="ADD_RESERVA" class="container">
            <div th:replace="template/vendedor_forms_template::reserva_add"></div>
        </div>
        <div th:case="EDIT_RESERVA">
            <div th:replace="template/vendedor_forms_template::reserva_edit"></div>
        </div>
        <div th:case="DELETE_RESERVA">
            <div th:replace="template/vendedor_forms_template::reserva_delete"></div>
        </div>
        <div th:case="SHOW_RESERVA">
            <div th:replace="template/vendedor_forms_template::reserva_show"></div>
        </div>
        
        
    </div>

    <footer th:replace="template/main_template::general_footer"></footer>

</body>
</html>

