<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang=”es” xmlns:th="http://www.thymeleaf.org"/>
<head th:replace="template/main_template::general_head">
</head>
<body>
    <header th:replace="template/main_template::general_header_admin"></header>

    <br>
    <div class="container" th:if="${active} eq 1">
        <div>
            </h1>
            <h1>Usuarios</h1>
            <form method="get" th:action="@{/admin/usuarios/add}">
                <input type="hidden" name="action" th:value="ADD">
                <input type="hidden" name="id" th:value="${usuario.id}">
                <button type="submit" class="btn btn-primary" >
                    Agregar Nuevo Usuario
                </button>
            </form>
            <br>
        </div>
        <table class="table table-bordered table-success table-striped table-hover" >
            <thead>
                <tr>
                    <th>Id Usuario</th>
                    <th>User</th>
                    <th>Pass</th>
                    <th>Rol</th>
                    <th>Nombre</th>
                    <th>Dni</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Sucursal</th>
                    <th>Editar Usuario</th>
                    <th>Eliminar Usuario</th>
                </tr>
            </thead>
            <tbody>
            <c:forEach var="usuario" items="${datos_usuarios}">
                <tr th:each="usuario : ${datos_usuarios}">
                    <td th:text="${usuario.id}"></td>
                    <td th:text="${usuario.user}"></td>
                    <td th:text="${usuario.pass}"></td>
                    <td th:text="${usuario.rol}"></td>
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.dni}"></td>
                    <td th:text="${usuario.direccion}"></td>
                    <td th:text="${usuario.telefono}"></td>
                    <td th:text="${usuario.sucursal}"></td>
                    <td><form method="get" th:action="@{/admin/usuarios/edit/{id}(id=${usuario.id})}">
                            <input type="hidden" name="action" th:value="EDIT">
                            <input type="hidden" name="id" th:value="${usuario.id}">
                            <button type="submit" class="btn btn-sm btn-warning" >
                                Editar
                            </button>
                        </form></td>
                    <td><form method="get" th:action="@{/admin/usuarios/delete/{id}(id=${usuario.id})}">
                            <input type="hidden" name="action" th:value="DELETE">
                            <input type="hidden" name="id" th:value="${usuario.id}">
                            <button type="submit" class="btn btn-sm btn-danger" >
                                Eliminar
                            </button>
                        </form></td>

                </tr>
                </tbody>
        </table>
        <br>

    </div>
    <div class="container" th:if="${active} eq 0">

        <h1>Vehiculos</h1>
        <form th:action="@{/admin/vehiculos/add}" method="post">

            <input type="submit" value="Agregar Nuevo Vehiculo" class="btn btn-primary">
        </form>
        <br>
        <table class="table table-bordered table-success table-striped table-hover">
            <thead>
                <tr>
                    <th>Id Vehiculo</th>
                    <th>Precio de Alquiler</th>
                    <th>Litros en Tanque</th>
                    <th>Fue Entregado</th>
                    <th>Patente</th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Color</th>
                    <th>Editar Vehiculo</th>
                    <th>Eliminar Vehiculo</th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="vehiculo : ${datos_vehiculos}">
                    <td th:text="${vehiculo.id}"></td>
                    <td th:text="${vehiculo.precio_alquiler}"></td>
                    <td th:text="${vehiculo.litros_combustible}"></td>
                    <td th:text="${vehiculo.entregado}"></td>
                    <td th:text="${vehiculo.patente}"></td>
                    <td th:text="${vehiculo.modelo}"></td>
                    <td th:text="${vehiculo.marca}"></td>
                    <td th:text="${vehiculo.color}"></td>
                    <td><a href="@{/admin/vehiculos/edit/{id}(id=${vehiculo.id})" class="btn btn-sm btn-warning">Editar</a></td>
                    <td><a href="@{/admin/vehiculos/delete/{id}(id=${vehiculo.id})" class="btn btn-sm btn-danger">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
        <br>

    </div>
    <br>

    <div th:replace="template/main_template::general_scripts"></div>

    <!-- Modales Usuarios -->

    <!-- Modal Agregar-->
    <div class="modal fade" id="AddUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Agregar Nuevo Usuario</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div th:replace="template/admin_forms_template::usuarios_add"></div>
                </div>

            </div>
        </div>
    </div>

    <footer th:replace="template/main_template::general_footer"></footer>

</body>
</html>
