<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang=”es” xmlns:th="http://www.thymeleaf.org"/>
<head th:replace="template/main_template::general_head">
</head>
<body>

    <br>
    <div class="container" th:switch="${action}">
        <div th:case="ADD_USER" class="container">
            <div th:replace="template/admin_forms_template::usuarios_add"></div>
        </div>
        <div th:case="EDIT_USER">
            <div th:replace="template/admin_forms_template::usuarios_edit"></div>
        </div>
        <div th:case="DELETE_USER">
            <div th:replace="template/admin_forms_template::usuarios_delete"></div>
        </div>
        <div th:case="ADD_VEHICLE" class="container">
            <div th:replace="template/admin_forms_template::vehiculos_add"></div>
        </div>
        <div th:case="EDIT_VEHICLE">
            <div th:replace="template/admin_forms_template::vehiculos_edit"></div>
        </div>
        <div th:case="DELETE_VEHICLE">
            <div th:replace="template/admin_forms_template::vehiculos_delete"></div>
        </div>
        
        
    </div>

    <footer th:replace="template/main_template::general_footer"></footer>

</body>
</html>

