<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang=”es” xmlns:th="http://www.thymeleaf.org"/>
<head th:replace="template/main_template::general_head">
</head>
<body>
    <header th:replace="template/main_template::general_header_vendedor"></header>

    <div class="container" th:if="${active} eq 1">
        <h1>Clientes</h1>
        <form method="get" th:action="@{/vendedor/clientes/add}">
            <input type="hidden" name="action" th:value="ADD_CLIENT">
            <input type="hidden" name="id" th:value="${usuario.id}">
            <button type="submit" class="btn btn-primary" >
                Agregar Nuevo Cliente
            </button>
        </form>
        <br>
        <table class="table table-bordered table-success table-striped table-hover">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>User</td>
                    <td>Pass</td>
                    <td>Nombre</td>
                    <td>Dni</td>
                    <td>Direccion</td>
                    <td>Telefono</td>
                    <td>Sucursal</td>
                    <td>Editar</td>
                    <td>Eliminar</td>
                </tr>
            </thead>
            <tbody>
            <c:forEach var="cliente" items="${datos_usuarios}">
                <c:if test="${cliente.rol == 3}">
                    <tr th:each="cliente : ${datos_usuarios}" th:if="${cliente.rol eq 3}">
                        <td th:text="${cliente.id}"></td>
                        <td th:text="${cliente.user}"></td>
                        <td th:text="${cliente.pass}"></td>
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.dni}"></td>
                        <td th:text="${cliente.direccion}"></td>
                        <td th:text="${cliente.telefono}"></td>
                        <td th:text="${cliente.sucursal}"></td>
                        <td><form method="get" th:action="@{/vendedor/clientes/edit/{user_id}(user_id=${cliente.id})}">
                                <input type="hidden" name="action" th:value="EDIT_CLIENT">
                                <input type="hidden" name="id" th:value="${usuario.id}">
                                <button type="submit" class="btn btn-sm btn-warning" >
                                    Editar
                                </button>
                            </form></td>
                        <td><form method="get" th:action="@{/vendedor/clientes/delete/{user_id}(user_id=${cliente.id})}">
                                <input type="hidden" name="action" th:value="DELETE_CLIENT">
                                <input type="hidden" name="id" th:value="${usuario.id}">
                                <button type="submit" class="btn btn-sm btn-danger" >
                                    Eliminar
                                </button>
                            </form></td>
                    </tr>
                    </tbody>
                    </table>
                    <br>

                    </div>
                    <div class="container" th:if="${active} eq 0">
                        <h1>Reservas</h1>
                        <form method="get" th:action="@{/vendedor/reservas/add}">
                            <input type="hidden" name="action" th:value="ADD_RESERVA">
                            <input type="hidden" name="id" th:value="${usuario.id}">
                            <button type="submit" class="btn btn-primary" >
                                Agregar Nueva Reserva
                            </button>
                        </form>
                        <br>
                        <table class="table table-bordered table-success table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Fecha de Inicio</th>
                                    <th>Fecha de Cierre</th>
                                    <th>Precio Total</th>
                                    <th>ID Oficina</th>
                                    <th>ID Cliente</th>
                                    <th>Items</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="reserva: ${datos_reservas}">
                                    <td th:text="${reserva.id}"></td>
                                    <td th:text="${reserva.fecha_inicio}"></td>
                                    <td th:text="${reserva.fecha_final}"></td>
                                    <td th:text="${reserva.precio_total}"></td>
                                    <td th:text="${reserva.id_oficina}"></td>
                                    <td th:text="${reserva.id_cliente}"></td>
                                    <td>
                                        <form method="get" th:action="@{/vendedor/reservas/{reserva_id}(reserva_id=${reserva.id})}">
                                            <input type="hidden" name="action" th:value="SHOW_RESERVA">
                                            <input type="hidden" name="id" th:value="${usuario.id}">
                                            <button type="submit" class="btn btn-secondary" >
                                                Ver
                                            </button>
                                        </form>
                                    </td>
                                    <td><form method="get" th:action="@{/vendedor/reservas/edit/{reserva_id}(reserva_id=${reserva.id})}">
                                            <input type="hidden" name="action" th:value="EDIT_RESERVA">
                                            <input type="hidden" name="id" th:value="${usuario.id}">
                                            <button type="submit" class="btn btn-sm btn-warning" >
                                                Editar
                                            </button>
                                        </form></td>
                                    <td><form method="get" th:action="@{/vendedor/reservas/delete/{reserva_id}(reserva_id=${reserva.id})}">
                                            <input type="hidden" name="action" th:value="DELETE_RESERVA">
                                            <input type="hidden" name="id" th:value="${usuario.id}">
                                            <button type="submit" class="btn btn-sm btn-danger" >
                                                Eliminar
                                            </button>
                                        </form></td>
                                </tr>
                            </tbody>
                        </table>
                        <br>

                    </div>

                    <br>

                    <div th:replace="template/main_template::general_scripts"></div>
                    <footer th:replace="template/main_template::general_footer"></footer>


                    </body>
                    </html>
