<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang=”es” xmlns:th="http://www.thymeleaf.org"/>
<head th:replace="template/main_template::general_head">
</head>
<body>
    <header th:replace="template/main_template::general_header_admin"></header>

    <br>
    <div class="container" th:if="${active} eq 1">
        <div>
            
            <h1>Usuarios</h1>
            <form method="get" th:action="@{/admin/usuarios/add}">
                <input type="hidden" name="action" th:value="ADD_USER">
                <input type="hidden" name="id" th:value="${usuario.id}">
                <button type="submit" class="btn btn-primary" >
                    Agregar Nuevo Usuario
                </button>
            </form>
            <br>
        </div>
        <table class="table table-bordered table-success table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>Pass</th>
                    <th>Rol</th>
                    <th>Nombre</th>
                    <th>Dni</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Sucursal</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
            <c:forEach var="usuario_edit" items="${datos_usuarios}">
                <tr th:each="usuario_edit : ${datos_usuarios}">
                    <td th:text="${usuario_edit.id}"></td>
                    <td th:text="${usuario_edit.user}"></td>
                    <td th:text="${usuario_edit.pass}"></td>
                    <td th:text="${usuario_edit.rol}"></td>
                    <td th:text="${usuario_edit.nombre}"></td>
                    <td th:text="${usuario_edit.dni}"></td>
                    <td th:text="${usuario_edit.direccion}"></td>
                    <td th:text="${usuario_edit.telefono}"></td>
                    <td th:text="${usuario_edit.sucursal}"></td>
                    <td><form method="get" th:action="@{/admin/usuarios/edit/{user_id}(user_id=${usuario_edit.id})}">
                            <input type="hidden" name="action" th:value="EDIT_USER">
                            <input type="hidden" name="id" th:value="${usuario.id}">
                            <button type="submit" class="btn btn-sm btn-warning" >
                                Editar
                            </button>
                        </form></td>
                    <td><form method="get" th:action="@{/admin/usuarios/delete/{user_id}(user_id=${usuario_edit.id})}">
                            <input type="hidden" name="action" th:value="DELETE_USER">
                            <input type="hidden" name="id" th:value="${usuario.id}">
                            <button type="submit" class="btn btn-sm btn-danger" >
                                Eliminar
                            </button>
                        </form></td>

                </tr>
                </tbody>
        </table>
        <br>

    </div>
    <div class="container" th:if="${active} eq 0">

        <h1>Vehiculos</h1>
        <form method="get" th:action="@{/admin/vehiculos/add}">
                <input type="hidden" name="action" th:value="ADD_VEHICLE">
                <input type="hidden" name="id" th:value="${usuario.id}">
                <button type="submit" class="btn btn-primary" >
                    Agregar Nuevo Vehiculo
                </button>
            </form>
        <br>
        <table class="table table-bordered table-success table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Precio de Alquiler</th>
                    <th>Litros en Tanque</th>
                    <th>Fue Entregado</th>
                    <th>Patente</th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Color</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="vehiculo : ${datos_vehiculos}">
                    <td th:text="${vehiculo.id}"></td>
                    <td th:text="${vehiculo.precio_alquiler}"></td>
                    <td th:text="${vehiculo.litros_combustible}"></td>
                    <td th:text="${vehiculo.entregado}"></td>
                    <td th:text="${vehiculo.patente}"></td>
                    <td th:text="${vehiculo.modelo}"></td>
                    <td th:text="${vehiculo.marca}"></td>
                    <td th:text="${vehiculo.color}"></td>
                    <td><form method="get" th:action="@{/admin/vehiculos/edit/{user_id}(user_id=${vehiculo.id})}">
                            <input type="hidden" name="action" th:value="EDIT_VEHICLE">
                            <input type="hidden" name="id" th:value="${usuario.id}">
                            <button type="submit" class="btn btn-sm btn-warning" >
                                Editar
                            </button>
                        </form></td>
                    <td><form method="get" th:action="@{/admin/vehiculos/delete/{user_id}(user_id=${vehiculo.id})}">
                            <input type="hidden" name="action" th:value="DELETE_VEHICLE">
                            <input type="hidden" name="id" th:value="${usuario.id}">
                            <button type="submit" class="btn btn-sm btn-danger" >
                                Eliminar
                            </button>
                        </form></td>
                </tr>
            </tbody>
        </table>
        <br>

    </div>
    <br>

    <div th:replace="template/main_template::general_scripts"></div>
    <footer th:replace="template/main_template::general_footer"></footer>

</body>
</html>
