<!doctype html>
<html lang=”es” xmlns:th="http://www.thymeleaf.org">
    <body>

        <div th:fragment="usuarios_add">
            <div class="container">
                <h1>Agregar Usuario</h1>
                <form method="post" th:action="@{/admin/usuarios/add}">
      
                    <div class="mb-3">
                    <label>User: </label>
                    <input type="text" name="user" required="true"/>
                    </div>
                    <div class="mb-3">
                    <label>Pass: </label>
                    <input type="text" name="pass" required="true"/>
                    </div>
                    <div class="mb-3">
                    <label>Rol: </label>
                    <select name="rol">
                        <option value="1" selected>Administrador</option>
                        <option value="2">Vendedor</option>
                        <option value="3">Cliente</option>
                    </select>
                    </div>
                    <div class="mb-3">
                    <label>Nombre Completo: </label>
                    <input type="text" name="nombre" required="true" />
                    </div>
                    <div class="mb-3">
                    <label>Dni: </label>
                    <input type="text" name="dni"/>
                    </div>
                    <div class="mb-3">
                    <label>Direccion: </label>
                    <input type="text"  name="direccion"/>
                    </div>
                    <div class="mb-3">
                    <label>Telefono: </label>
                    <input type="text" name="telefono"/>
                    </div>
                    <div class="mb-3">
                    <label>Sucursal: </label>
                    <input type="number" name="sucursal"/>
                    </div>
                    <input type="hidden" name="id" th:value="${usuario.id}">
                    <div class="mb-4">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <input type="submit" class="btn btn-primary" value="Agregar Usuario">

                    </div>
                </form>
                <br>
            </div>
        </div>

        <div th:fragment="usuarios_edit">
            <div class="container">
                <h1>Editar Usuario</h1>
                <form method="post" th:action="@{/admin/usuarios/edit/{id}(id=${usuario_edit.id})}" th:object="${usuario_edit}">
                    <div class="mb-3">
                    <label>User: </label>
                    <input type="text" name="user" required="true" th:field="*{user}" th:value="${usuario_edit.user}"/>
                    </div>
                    <div class="mb-3">
                    <label>Pass: </label>
                    <input type="text" name="pass" required="true" th:field="*{pass}" th:value="${usuario_edit.pass}"/>
                    </div>
                    <div class="mb-3">
                    <label>Rol: </label>
                    <select name="rol" th:field="*{rol}" th:value="${usuario_edit.rol}">
                        <option value="1" selected>Administrador</option>
                        <option value="2">Vendedor</option>
                        <option value="3">Cliente</option>
                    </select>
                    </div>
                    <div class="mb-3">
                    <label>Nombre Completo: </label>
                    <input type="text" name="nombre" required="true" th:field="*{nombre}" th:value="${usuario_edit.nombre}"/>
                    </div>
                    <div class="mb-3">
                    <label>Dni: </label>
                    <input type="text" name="dni" th:field="*{dni}" th:value="${usuario_edit.dni}"/>
                    </div>
                    <div class="mb-3">
                    <label>Direccion: </label>
                    <input type="text"  name="direccion" th:field="*{direccion}" th:value="${usuario_edit.direccion}"/>
                    </div>
                    <div class="mb-3">
                    <label>Telefono: </label>
                    <input type="text" name="telefono" th:field="*{telefono}" th:value="${usuario_edit.telefono}"/>
                    </div>
                    <div class="mb-3">
                    <label>Sucursal: </label>
                    <input type="number" name="sucursal" th:field="*{sucursal}" th:value="${usuario_edit.sucursal}"/>
                    </div>
                    <input type="hidden" name="user_id" th:value="${id}">
                    <div class="mb-4">

                    
                        <button type="button" href="" class="btn btn-secondary">Volver Atras</button>
                        <button type="submit" class="btn btn-primary">Actualizar Usuario</button>

                    </div>
                </form>
                <br>
            </div>
        </div>
        
        <div th:fragment="usuarios_delete">
            <div class="container">
                <h1>Eliminar Usuario</h1>
                <form method="post" th:action="@{/admin/usuarios/delete/{id}(id=${usuario_delete.id})}" th:object="${usuario_delete}">
                    <div class="mb-3">
                    <label>User: <span th:text="${usuario_delete.user}"</span> </label>
                    </div>
                    <div class="mb-3">
                    <label>Pass: <span th:text="${usuario_delete.pass}"</span></label>
                    </div>
                    <div class="mb-3">
                    <label>Rol: <span th:text="${usuario_delete.rol}"</span></label>
                    </div>
                    <div class="mb-3">
                    <label>Nombre Completo: <span th:text="${usuario_delete.nombre}"</span></label>
                    </div>
                    <div class="mb-3">
                    <label>Dni: <span th:text="${usuario_delete.dni}"</span></label>
                    </div>
                    <div class="mb-3">
                    <label>Direccion: <span th:text="${usuario_delete.direccion}"</span></label>
                    </div>
                    <div class="mb-3">
                    <label>Telefono: <span th:text="${usuario_delete.telefono}"</span></label>
                    </div>
                    <div class="mb-3">
                    <label>Sucursal: <span th:text="${usuario_delete.sucursal}"</span></label>
                    </div>
                    <input type="hidden" name="user_id" th:value="${id}">
                    <div class="mb-4">

                    
                        <button type="button" class="btn btn-secondary">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Eliminar Usuario</button>

                    </div>
                </form>
                <br>
            </div>
        </div>

        <!-- Fragments para Vehiculos -->

        <div th:fragment="vehiculos_add">
            <div class="container">
                <h1>Agregar Vehiculo</h1>
                <form method="post" th:action="@{/admin/vehiculos/add}">
      
                    <div class="mb-3">
                    <label>Marca: </label>
                    <input type="text" name="marca" required="true"/>
                    </div>
                    <div class="mb-3">
                    <label>Modelo: </label>
                    <input type="text" name="modelo" required="true"/>
                    </div>
                    <div class="mb-3">
                    <label>Patente: </label>
                    <input type="text" name="patente" required="true"/>
                    </div>
                    <div class="mb-3">
                    <label>Color: </label>
                    <input type="text" name="color" required="true"/>
                    </div>
                    <div class="mb-3">
                    <label>Precio Alquiler: </label>
                    <input type="text" name="precio_alquiler" required="true"/>
                    </div>
                    <div class="mb-3">
                    <label>Litros en Tanque: </label>
                    <input type="text" name="litros_combustible" required="true"/>
                    </div>
                    <div class="mb-3">
                    <label>Entregado: </label>
                    <input type="text" name="entregado" required="true"/>
                    </div>
                    
                    <input type="hidden" name="id" th:value="${usuario.id}">
                    <div class="mb-4">
                        <button type="button" class="btn btn-secondary" >Cerrar</button>
                        <input type="submit" class="btn btn-primary" value="Agregar Vehiculo">

                    </div>
                </form>
                <br>
            </div>
        </div>

        <div th:fragment="vehiculos_edit">
            <div class="container">
                <h1>Editar Vehiculo</h1>
                <form method="post" th:action="@{/admin/vehiculos/edit/{id}(id=${vehiculo.id})}" th:object="${vehiculo}">
                     <div class="mb-3">
                    <label>Marca: </label>
                    <input type="text" name="marca" required="true" th:field="*{marca}" th:value="${vehiculo.marca}"/>
                    </div>
                    <div class="mb-3">
                    <label>Modelo: </label>
                    <input type="text" name="modelo" required="true" th:field="*{modelo}" th:value="${vehiculo.modelo}"/>
                    </div>
                    <div class="mb-3">
                    <label>Patente: </label>
                    <input type="text" name="patente" required="true" th:field="*{patente}" th:value="${vehiculo.patente}"/>
                    </div>
                    <div class="mb-3">
                    <label>Color: </label>
                    <input type="text" name="color" required="true" th:field="*{color}" th:value="${vehiculo.color}"/>
                    </div>
                    <div class="mb-3">
                    <label>Precio Alquiler: </label>
                    <input type="text" name="precio_alquiler" required="true" th:field="*{precio_alquiler}" th:value="${vehiculo.precio_alquiler}"/>
                    </div>
                    <div class="mb-3">
                    <label>Litros en Tanque: </label>
                    <input type="text" name="litros_combustible" required="true" th:field="*{litros_combustible}" th:value="${vehiculo.litros_combustible}"/>
                    </div>
                    <div class="mb-3">
                    <label>Entregado: </label>
                    <input type="text" name="entregado" required="true" th:field="*{entregado}" th:value="${vehiculo.entregado}"/>
                    </div>
                    <input type="hidden" name="user_id" th:value="${id}">
                    <div class="mb-4">

                    
                        <button type="button" href="" class="btn btn-secondary">Volver Atras</button>
                        <button type="submit" class="btn btn-primary">Actualizar Vehiculo</button>

                    </div>
                </form>
                <br>
            </div>
        </div>
        
        <div th:fragment="vehiculos_delete">
            <div class="container">
                <h1>Eliminar Vehiculo</h1>
                <form method="post" th:action="@{/admin/vehiculos/delete/{id}(id=${vehiculo_delete.id})}" th:object="${vehiculo_delete}">
                    <div class="mb-3">
                     <div class="mb-3">
                    <label>Marca: <span th:text="${vehiculo_delete.marca}"</span></label>

                    </div>
                    <div class="mb-3">
                    <label>Modelo: <span th:text="${vehiculo_delete.modelo}"</span></label>
        
                    </div>
                    <div class="mb-3">
                    <label>Patente: <span th:text="${vehiculo_delete.patente}"</span></label>
             
                    </div>
                    <div class="mb-3">
                    <label>Color: <span th:text="${vehiculo_delete.color}"</span></label>
          
                    </div>
                    <div class="mb-3">
                    <label>Precio Alquiler: <span th:text="${vehiculo_delete.precio_alquiler}"</span></label>
           
                    </div>
                    <div class="mb-3">
                    <label>Litros en Tanque: <span th:text="${vehiculo_delete.litros_combustible}"</span></label>
         
                    </div>
                    <div class="mb-3">
                    <label>Entregado: <span th:text="${vehiculo_delete.entregado}"</span></label>
                   
                    </div>
                    <input type="hidden" name="user_id" th:value="${id}">
                    <div class="mb-4">

                    
                        <button type="button" class="btn btn-secondary">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Eliminar Vehiculo</button>

                    </div>
                </form>
                <br>
            </div>
        </div>

    </body>
</html>
